for file in flake.nix flake.lock pyproject.toml uv.lock;
do
	watch_file "$file"
done

if has nix; then
    use_flake
fi

if has uv; then
    export VIRTUAL_ENV="$PWD/.venv"
    PATH_add "$VIRTUAL_ENV/bin"
fi
