{% if context.history.unreleased | length > 0 %}
{% for type_, commits in context.history.unreleased | dictsort %}
{% if commits and type_ not in ["unknown", "chore", "ci", "style", "test", "refactor"] %}
{% for commit in commits %}
 - {{ commit.descriptions[0] }}
{% endfor %}
{% endif %}
{% endfor %}

{% endif %}
{% for release in context.history.released %}
{{ release.elements | join("\n") }}
{% if not loop.last %}

{% endif %}
{% endfor %}
